extends layout

block content
  #navbar
    span#title=title
    a.glyphicon.glyphicon-remove#leave(href='#')

  .container
    ul.list-group#messages

    form
      .form-group
        input.form-control#message-input
      button.btn.btn-default.btn-lg.btn-block#submit(type='submit') Submit

  script(src="/javascripts/index.js")